/* the default margin of the h5 elements were affecting this css style a lot
cause it always had margin bottom top atleast 40px */
h5 {
  margin: 0;
}

.workerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* make the profile pic closer to the top */
  margin-top: 0;
  font-size: 25px;
  /* take the full height of the parent element which the height of the screen */
  height: 100%;
}

.beyondTitle {
  background-color: #9d4e15;

}

.image {
  display: flex;
  background-color: #f7a325;
  /* make the profile pic a little bigger */
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.Rating {
  /* since we remove the h5 margin, we don't need these css properties*/
  /* display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 45px; */
  /* height: 30px; */
  color: gold;
}

.name {
  margin-top: 10px;
  font-style: italic;
  font-size: 28px;
  color: #6e3d0f;
}

.discription {
  width: 75vw;
  /* height: max-content;
  align-content: center;
  align-items: stretch; */
  margin-top: 20px;
  color: white;
}

.moreInfo {
  display: flex;
  width: 75vw;
  justify-content: space-around;
  margin-top: auto;
  color: #6e3d0f;
}

.reviews {
  background: #fffdfd;
  box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  width: 90vw;
}

.lastLine {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90vw;
}

.call {
  display: flex;
  background-color: rgba(2, 121, 28, 0.67);
  border-radius: 5px;
  height: 50px;
  width: 75%;
  justify-content: center;
  align-items: center;
  color: white;
}

.back2 {
  background-color: #f7a325;
  display: flex;
  height: 50px;
  width: 20%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  font-size: 20px;
}

.profissionIcon {
  width: 100%;
}