.profission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border: none;
  /* make the width to be 80% of the screen width */
  width: 80vw;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  /* I thought it looked better with a little bit of border-radius */
  border-radius: 5px;
}

.imgP {
  height: 100%;
  display: flex;
}

.nameP {
  display: flex;
}