.profission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border: none;
  width: 80vw;
  max-width: 80vw;
  overflow: hidden;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.2),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.2);
}

.imgP {
  height: 100%;
  display: flex;
  max-width: 50px;
}

.nameP {
  display: flex;
}
