.title {
  background-color: #6e3d0f;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.beyondTitle {
  background-color: #9d4e15;
}

.News,
.Reviews,
.trustedWorkers {
  background-color: #f7a325;
  border-radius: 20px;
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
}

.searchProfessional {
  width: 50%;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid #000000;
  
}
