.allH {
  height: 100vh;

  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;

  margin: auto;
}

.title {
  background: linear-gradient(
    100deg,
    rgba(0, 115, 186, 0.907) 30%,
    #16fff7 120%
  );
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* 100% mobile view */
  width: 100%;
}

.beyondTitle {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  /* 100% mobile view */
  width: 100%;
}

.pagesH {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.NewsH,
.ReviewsH,
.trustedWorkersH {
  background-color: #3dc8ff;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  /* min-width will make all the buttons start from atleast 20vw which is 
  20% of the screen width  */
  min-width: 20vw;
}

.NewsH {
  /* no need for padding right here cause we added min-width in the previous class,
  also if you check in the home.jsx file line 29 i made the bigger button be in the middle
  for it to look better on the screen */
  /* padding-right: 30px; */
  text-align: center;
}

/* position relative here important, cause without it the icon would be somewhere totally
different on the page */
.icon-input-wrapper {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 8px;
  max-width: 20px;
}

.searchProfessional {
  display: flex;
  justify-content: center;
  background-color: rgba(233, 225, 225, 1);
  /* made the width of the input the same width of the parent div */
  width: 100%;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  border: 1px solid #000000;
  margin-bottom: 30px;
  font-size: smaller;
  /* when you click on an input you see a small orange border around it
  this css outline: none; removes it*/
  outline: none;
}
