.list {
  background-color: #9d4e15;
  height: 100vh;
}
.professionTitle {
  background-color: #6e3d0f;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.WOLI {
  display: flex;
  flex-direction: column;
}

.pages {
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin: auto;
}

.rating,
.location,
.trustedWorkers {
  background-color: #f7a325;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
}

.back {
  background-color: #f7a325;
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: flex-start;
  align-items: center;
  border: none;
  color: white;
  margin: auto;
}
